<!DOCTYPE html>
<html>
	<head>

        <title>Computerized Medical Equipment Maintenance System</title>
        <meta name="description" content="Power the backend of your practice with Vertikal Systems' solid solutions. Start your free trial today.">
        <meta name="author" content="vertikalsystems.com">
                
        <!--#region Head -->

		<!-- Basic1 -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">	

		<!-- Favicon -->
		<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon" />
		<link rel="apple-touch-icon" href="img/apple-touch-icon.png">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- Web Fonts  -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

        <!--#endregion Head -->

        <!--#region CSS includes -->

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.min.css">
		<link rel="stylesheet" href="vendor/owl.carousel/assets/owl.carousel.min.css">
		<link rel="stylesheet" href="vendor/owl.carousel/assets/owl.theme.default.min.css">
		<link rel="stylesheet" href="vendor/magnific-popup/magnific-popup.min.css">
		<!-- Theme CSS -->
		<link rel="stylesheet" href="css/theme.css">
		<link rel="stylesheet" href="css/theme-elements.css">
		<link rel="stylesheet" href="css/theme-blog.css">
		<link rel="stylesheet" href="css/theme-shop.css">
		<link rel="stylesheet" href="css/theme-animate.css">

		<!-- Current Page CSS -->
		<link rel="stylesheet" href="vendor/rs-plugin/css/settings.css">
		<link rel="stylesheet" href="vendor/rs-plugin/css/layers.css">
		<link rel="stylesheet" href="vendor/rs-plugin/css/navigation.css"> 

		<!-- Skin CSS -->
		<link rel="stylesheet" href="css/skins/vertikalmed.css">

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="css/custom.css">

		<!-- Head Libs -->
		<script src="vendor/modernizr/modernizr.min.js"></script>

        <!--#endregion CSS includes -->

	</head>
	<body>

		<div class="body">

            <div role="main" class="main">

                <!--#region Slider  -->
                <div class="slider-container light rev_slider_wrapper">
                    <div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider data-plugin-options='{"delay": 9000, "gridwidth": 1170, "gridheight": 600}'>
                        <ul>
                            <li data-transition="fade">
                                <!-- https://s3.amazonaws.com/place.it/2016/45/4985817/ad3e3f049f98593.jpg?AWSAccessKeyId=AKIAIEYZDRZAWC54PGOA&Signature=Xm2lPzeeWcFgcBe4fSg2kJYt4UI%3D&Expires=1481281495 -->
                                <!--<img src="img/banners/stock-photo-medical-and-healthcare-male-doctor-or-medical-students-or-surgeon-anesthesiologists-using-digital-445366909.png"-->
                                <img src="img/banners/senior-with-laptop-placeit.jpg"
                                     alt=""
                                     data-bgposition="center center"
                                     data-bgfit="cover"
                                     data-bgrepeat="no-repeat"
                                     class="rev-slidebg">

                                <div class="tp-caption main-label"
                                     data-x="center"
                                     data-y="140"
                                     data-start="00"
                                     data-whitespace="nowrap"
                                     data-transform_in="y:[100%];s:500;"
                                     data-transform_out="opacity:0;s:500;"
                                     data-mask_in="x:0px;y:0px;">F.O.N BIOMEDICAL</div>

                                <div class="tp-caption bottom-label"
                                     data-x="center"
                                     data-y="280"
                                     data-start="0"
                                     data-transform_in="y:[100%];opacity:0;s:500;">
                                     <p style="color:white">Welcome to the Computerized Maintenance Management System for Medical Devices.</p>
                                </div>
                            </li>
                            <li data-transition="fade" id="obinna_img">
                                <img src="img/banners/obinna_img1.png"
                                     alt=""
                                     data-bgposition="center center"
                                     data-bgfit="cover"
                                     data-bgrepeat="no-repeat"
                                     class="rev-slidebg">

                                <div class="tp-caption main-label"
                                     data-x="center"
                                     data-y="140"
                                     data-start="00"
                                     data-whitespace="nowrap"
                                     data-transform_in="y:[100%];s:500;"
                                     data-transform_out="opacity:0;s:500;"
                                     data-mask_in="x:0px;y:0px;">Automate Everything</div>

                                <div class="tp-caption bottom-label"
                                     data-x="center"
                                     data-y="280"
                                     data-start="0"
                                     data-transform_in="y:[100%];opacity:0;s:500;">
                                     <p style="text-align:center; color:white">Maintenance made easy </p>
                                </div>
                            </li>
                            <li data-transition="fade">
                                <img src="img/banners/wide-hospital.4.png"
                                     alt=""
                                     data-bgposition="center center"
                                     data-bgfit="cover"
                                     data-bgrepeat="no-repeat"
                                     class="rev-slidebg">

                                <div class="tp-caption main-label"
                                     data-x="center"
                                     data-y="140"
                                     data-start="00"
                                     data-whitespace="nowrap"
                                     data-transform_in="y:[100%];s:500;"
                                     data-transform_out="opacity:0;s:500;"
                                     data-mask_in="x:0px;y:0px;">Better Service Delivery</div>

                                <div class="tp-caption bottom-label"
                                     data-x="center"
                                     data-y="280"
                                     data-start="0"
                                     data-transform_in="y:[100%];opacity:0;s:500;">
                                     <p style="color:white">Efficiency at it's core!</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!--#endregion Slider -->

                <!--#region Customers Logos  -->
                <section class="section section-background section-center hidden-xs" style="padding:0px;margin:0px;">
                    <div class="container">                        
                        <div class="row mt-xl">
                            <div class="col-md-4 center">
                                <div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
                                    <span class="featured-boxes featured-boxes-style-6 p-none m-none">
                                        <span class="featured-box featured-box-primary featured-box-effect-6 p-none m-none">
                                            <span class="box-content p-none m-none">
                                                <i class="icon-featured fa fa-medkit icons"></i>
                                            </span>
                                        </span>
                                    </span>
                                    <div class="feature-box-info">
                                        {{!-- Should be link to admin login --}}
                                        <a href="/admin-signin" style="text-decoration: none">
                                            <h4 class="mb-sm">Administrator</h4>
                                            <p class="mb-lg">Log in and perform the necessary Admin functions.</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 center">
                                <div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
                                    <span class="featured-boxes featured-boxes-style-6 p-none m-none">
                                        <span class="featured-box featured-box-primary featured-box-effect-6 p-none m-none">
                                            <span class="box-content p-none m-none">
                                                <i class="icon-featured fa fa-heartbeat icons"></i>
                                            </span>
                                        </span>
                                    </span>
                                    <div class="feature-box-info">
                                        <a href="/engineer-signin" style="text-decoration: none">
                                            <h4 class="mb-sm">Engineer/Technical Officer</h4>
                                            <p class="mb-lg">Log in as an Engineer or a Technical Officer</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 center">
                                <div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
                                    <span class="featured-boxes featured-boxes-style-6 p-none m-none">
                                        <span class="featured-box featured-box-primary featured-box-effect-6 p-none m-none">
                                            <span class="box-content p-none m-none">
                                                <i class="icon-featured fa fa-list icons"></i>
                                            </span>
                                        </span>
                                    </span>
                                    <div class="feature-box-info">
                                        <a href="/operator-signin" style="text-decoration: none">
                                            <h4 class="mb-sm">User</h4>
                                            <p class="mb-lg">Log in as an Operator or Health Worker</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="container">
                    <div class="spacer80">
                    </div>
                </div>
                
                <!--#endregion Customers Logos  -->
                
                <!--#region Short Presentation  -->

                <div class="container">
                    <div class="row mb-lg">
                        <div class="col-md-12 center">
                            <h1>Easy to use Medical Equipment Maintenance Software for Clinics and Hospitals</h1>
                        </div>
                    </div>                        
                    <div class="col-md-12 text-center">
                        <p>
                            Without a digitized system, an efficient hospital or clinic cannot function in this day and age.                                 
                            Store in one place equipments, spares and accessories records, maintenance scheduling, maintenance notifications, messaging, all optimized for better and efficient health care provision.
                        </p>
                    </div>
                </div>
                              
                
            
            <!--#region Footer -->

			<footer id="footer">
				<div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="newsletter">
                                <center>
                                    <h5 style="font-size:25px;">FEATURES</h5><br>

                                    <div class="row">
                                        <div class="col-md-2"><h6 style="font-size:18px; color:white;">Inventory Module</h6></div>
                                        <div class="col-md-3"><h6 style="font-size:18px; color:white;" >Maintenance Module</h6></div>
                                        <div class="col-md-2"><h6 style="font-size:18px; color:white;">Logbook Module</h6></div>
                                        <div class="col-md-3"><h6 style="font-size:18px; color:white;">Human Resource Module</h6></div>
                                        <div class="col-md-2"><h6 style="font-size:18px; color:white;">Messaging Module</h6></div>
                                    </div>

                                </center>
                            </div>
                        </div>
                    </div>
					
				</div>
				<div class="footer-copyright">
					<div class="container">
						<div class="row">							
							<div class="col-md-8">
								<p>© Copyright 2018. Computerized Medical Maintenance System.</p>
							</div>
						</div>
					</div>
				</div>
			</footer>

            <!--#endregion Footer -->

		</div>

        <!--#region JS includes -->

		<!-- Vendor -->
		<script src="vendor/jquery/jquery.min.js"></script>
		<script src="vendor/jquery.appear/jquery.appear.min.js"></script>
		<script src="vendor/jquery.easing/jquery.easing.min.js"></script>
		<script src="vendor/jquery-cookie/jquery-cookie.min.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
		<script src="vendor/common/common.min.js"></script>
		<script src="vendor/jquery.validation/jquery.validation.min.js"></script>
		<script src="vendor/jquery.stellar/jquery.stellar.min.js"></script>
		<script src="vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
		<script src="vendor/jquery.gmap/jquery.gmap.min.js"></script>
		<script src="vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
		<script src="vendor/isotope/jquery.isotope.min.js"></script>
		<script src="vendor/owl.carousel/owl.carousel.min.js"></script>
		<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
		<script src="vendor/vide/vide.min.js"></script>
		
		<!-- Theme Base, Components and Settings -->
		<script src="js/theme.js"></script>
		
		<!-- Current Page Vendor and Views -->
		<script src="vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
		<script src="vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
		
		<!-- Theme Custom -->
		<script src="js/custom.js"></script>
		
		<!-- Theme Initialization Files -->
		<script src="js/theme.init.js"></script>

        <!--#endregion JS includes -->

	</body>
</html>
